:root {
    --button: #FF0000;
    --main-background:  #C4C4C4;
    --background: #E5E5E5;
    --text: #000;
    --footer: #000;
    --text-description: #9C9696;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--background);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;   
}

#navbar {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    z-index: 2;
}

#navbar > ul {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}

#navbar > ul > li > a, footer > ul > li > a{
    text-decoration: none;
    color: var(--text);
    font-weight: 700;
    
}

#navbar > input{
    padding: 1px 2px;
}

#navbar > button{
    border: none;
    background-color: inherit;
}

main{
    display: flex;
    flex-grow: 1;
}

main > aside{
    flex-basis: 37.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}


main > section{
    flex-grow: 1;
}

footer{
    margin-top: auto;
    display: flex;
}

footer > ul{
    flex-grow: 1;
    display: flex;
    /*justify-content: space-between;*/
    list-style: none;
}

footer > ul > li{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 15%;
    height: 100%;
}

footer > ul > li:last-child{
    flex-grow: 1;
    background-color: var(--footer);
}

footer > ul > li:last-child > a {
    color: white;
}
